<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lpppa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_bar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_bar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.EditPerkembanganActivity"></activity>
        <activity android:name=".activity.PidanaAnakActivity" />
        <activity android:name=".activity.KdrtActivity" />
        <activity android:name=".activity.ListTahunActivity" />
        <activity android:name=".activity.UUActivity" />
        <activity android:name=".activity.DetailDataActivity" />
        <activity android:name=".activity.DetailPenyidikActivity" />
        <activity android:name=".activity.DataActivity" />
        <activity android:name=".activity.PenyidikActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".SplashScreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>